<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="ServiceInfoMapper">
    <select id="qryAllSrvTimeoutList" resultType="com.evy.linlin.gateway.SrvTimeoutModel">
        SELECT tsi_timeout as timeout, tsi_service_bean_name as srvCode FROM trace_services_info WHERE 1=1;
    </select>
</mapper>