<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.evy.linlin.testdemo.TestMapper">
    <parameterMap id="insertMap" type="java.util.Map">
        <parameter property="name" javaType="java.lang.String" jdbcType="VARCHAR"/>
        <parameter property="age" javaType="java.lang.String"  jdbcType="VARCHAR"/>
    </parameterMap>
    <resultMap id="selectAllMap" type="java.util.Map">
        <result column="id" property="id" javaType="String"/>
        <result column="name" property="name" javaType="String"/>
        <result column="age" property="age" javaType="String"/>
    </resultMap>

    <select id="selectCount" resultType="int">
        SELECT COUNT(*) FROM trace_services_info;
    </select>
    <select id="selectOne" resultType="Map">
        SELECT * FROM test_table limit 1;
    </select>
    <select id="selectAll" resultMap="selectAllMap">
        SELECT * FROM test_table;
    </select>
    <insert id="insert" parameterMap="insertMap">
        INSERT INTO
            test_table(name, age)
            VALUES (#{name}, #{age})
    </insert>
    <update id="update" parameterMap="insertMap">
        UPDATE test_table SET age=#{age}
        WHERE name=#{name}
    </update>
    <delete id="delete" parameterMap="insertMap">
        DELETE FROM test_table
        WHERE
        name=#{name}
    </delete>
    <delete id="deleteAll">
        DELETE FROM test_table
        where 1=1
    </delete>
</mapper>