/*全局样式*/
*, ::after, ::before {
    box-sizing: content-box;
}

body {
    margin: 0;
}

body a {
    text-decoration: none !important;
}

* {
    letter-spacing: 0.007em;
    font-family: "SF Pro Display", "SF Pro Icons", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.main-style {
    min-width: 1600px;
}

.main-style:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 0;
    /*pointer-events: none;*/
    user-select: none;
    z-index: -1;
    left: -140px;
    top: 44px;
    height: 100%;
    filter: blur(50.6px);
    background: url("../bg.PNG");
}

/*全局样式 end*/

/*顶部导航栏*/
#tips-div {
    background: #fae9a3;
    text-align: center;
    color: #503e30;
    font-weight: bold;
}

#head-nav {
    top: 0;
    inline-size: 100%;
    block-size: 44px;
    z-index: 1;
    font-weight: bold;
}

.head-nav-login {
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 113, 241, 1);
}

.head-nav-nologin {
    background-color: #323232;
}

#head-nav div {
    text-align: center;
    height: 100%;
}

#head-left-view {
    text-align: center;
    margin-left: 16px;
}

#head-left-view div {
    margin-left: 16px;
}

.head-right-view {
    margin-right: 16px;
    right: 10px;
    position: absolute;
    width: 660px;
}

.head-label {
    color: #ffffff;
    margin: 10px 0;
    display: block;
}

.head-label-login {
    color: #323232;
    margin: 10px 10px;
    display: block;

    float: right;
}

/*顶部导航栏 end*/

/*body*/
#main-body {
    text-align: center;
    margin: 0 auto;

    height: 600px;
}

#main-view {
    min-width: 100%;
    min-height: 100%;
    height: 300px;
    position: relative;
    z-index: 2;
    border-radius: 7px;
}

#main-view div {
    text-align: center;
    max-width: 380px;
    /*margin: 5px auto 13px;*/
    word-break: break-word;

    border-radius: 7px;
    width: 300px;
    margin: 0 auto;
}

#main-view .logo {
    width: 100px;
    z-index: 10;
}

#main-view .logo .cnsmr-app-image {
    max-width: 350px;
    max-height: 100px;
}

#main-view .logo .form-title {
    max-width: 380px;
    margin: 5px auto 13px;
    word-break: break-word;
}

.form-table {
    border: 1px solid #d6d6d6;
    border-radius: 7px;
    background-color: #fff;
    position: relative;
}

.form-cell {
    vertical-align: top;
    direction: ltr;
    border: none;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    /*TODO 选中触发边框高亮*/
    /*-webkit-box-shadow: 0 0 5px rgba(0,113,241,1);*/

    height: 38px;
}

#form-cell-1 {
    border-bottom: 1px solid rgba(0, 113, 241, 1);
}

#form-cell-2 {
    border-top: 1px solid rgba(0, 113, 241, 1);
}

.form-cell input {
    width: 80%;
    margin: 6px auto;
}

.login-btn {
    position: absolute;
    border: 1px solid #90949c;
    right: 10px;
    padding: 0 1px 0 2px;
    z-index: 101;

    width: 26px;
    height: 28px;
    border-radius: 308px;
    margin: 3px auto;
    background: transparent;
}

#main-deploy-body {
    text-align: center;
    margin: 0;

    min-height: 600px;
    height: auto;
}

#main-deploy-view {
    margin: 0;
}

.deploy-list {
    /*margin: 0;*/

    border: 1px solid rgba(233,236,239,0.8);
    text-align: -webkit-left;
    margin: 10px 0 0 18px;
    display: inline-table;
    min-width: 168px;
}

.deploy-list li {
    border-bottom: 1px solid rgba(0, 113, 241, 1);
    list-style: none;
    background: transparent;

    border: 0px;
    background: rgba(233,236,239,0.8);
}

#deploy-info-view {
    margin: 20px;
    border-radius: 7px;
    width: 80%;
    height: auto;
    background: rgba(233,236,239,0.4);

    padding: 20px;
    min-width: 1200px;
    max-height: 800px;
    overflow-y: auto;
}

#deploy-info-view::-webkit-scrollbar{
    width: 0;
    height: 0;
}

.info-title {
    text-align: left;
}

.deploy-form-table {
    width: 60%;
}

.transparent-form {
    background: transparent;
}

.deploy-form-table button {
    color: rgba(0, 113, 241, 1);
}

.view-div {
    border: 0 !important;
}

.ten_2_one_ul li {
    min-width: 5%;
    max-width: 5%;
    margin: 0 !important;
    word-break: break-word;
}

.success-span-status {
    padding: 2px 6px;
    background: rgba(0, 113, 241,0.8);
    color: #fff;
    border-radius: 6px;
}

.warn-span-status {
    padding: 2px 6px;
    background: rgba(191, 7, 7, 0.8);
    color: #fff;
    border-radius: 6px;
}

.twelve-ul-style{
    min-width: 8%;
    margin: 0 !important;
    word-break: break-word;
}

.six_ul_style {
    min-width: 16%;
    max-width: 16%;
    margin: 0 !important;
    word-break: break-word;
}

.nine_ul_style{
    min-width: 11%;
    max-width: 11%;
    margin: 0 !important;
    word-break: break-word;
}

.senven_ul_style{
    min-width: 13%;
    max-width: 13%;
    margin: 0 !important;
    word-break: break-word;
}

.eight_ul_style {
    min-width: 9%;
    max-width: 9%;
    margin: 0 !important;
    word-break: break-word;
}

.small-service-btn {
    max-width: 58px !important;
    font-size: 12px;
    height: 20px;
    position: initial !important;
}

.deploy-form-cell {
    border-bottom: 1px solid rgba(0, 113, 241, 1);
    /*margin: 10px 0;*/

    margin: 10px;
    border-radius: 0 !important;
}

.deploy-info-btn {
    width: 130px;
}

.deploy-checkbox-btn {
    width: 100px !important;
    border: none;
    user-select: none;
}

.deploy-checkbox-btn input {
    width: 36px;
    height: 20px;
    margin: 4px;
}

.submit-btn {
    background: rgba(0, 113, 241, 1);
    color: #ffffff !important;
    width: 160px !important;
}

.left-div {
    float: left;
}

.result-div {
    border-radius: 7px;
    margin: 0 20px;
    width: 200px;
    border: none;
}

.result-div .title-div {
    background: rgba(0, 113, 241, 1);
    color: #ffffff !important;
    letter-spacing: 12px;
    border: none !important;
    font-size: 21px;
}

.result-div div {
    border: none;
    border-bottom: 1px solid rgba(0, 113, 241, 1);
    border-left: none;
    border-right: none;
}

.result-div .content-div {
    overflow: auto;
    height: 220px;
    margin: 10px;
    border-bottom: none;
}

.result-div .content-div div {
    margin: 0;
    padding: 6px;
}

.result-div .content-div div a {
    color: black;
}

.result-div .content-div::-webkit-scrollbar { /*滚动条整体样式*/
    width: 0; /*高宽分别对应横竖滚动条的尺寸*/
    height: 0;
}

.select-branch-super-div {
    width: auto;
    height: auto;
    min-height: 100px;
    float: left;
    margin: 10px 20px;
}

.select-branch {
    width: auto;
    height: auto;
    margin: 10px;
    background: rgba(233,236,239,0.8);
    user-select: none;
}

.select-branch div {
    text-align: left;
    margin: 4px 10px;
    padding: 0 10px;
    border-bottom: 1px solid rgba(0, 113, 241, 1);
    user-select: none;
}

.select-branch div span {
    user-select: none;
}

.title-span {
    margin: 4px;
    background: #0071f1;
    border-radius: 7px;
    height: 24px;
    min-width: 84px;
    width: auto;
    display: inline-block;
    text-align: center;
    color: #fff;
}

.select-branch-btn {
    height: 24px !important;
    width: 84px !important;
    background: #ffffff;
    color: #0b2e13 !important;
    margin: 4px;
    padding: 0;
    border: 1px solid rgba(0, 113, 241, 1);
    border-radius: 14px;
}

.left-span {
    float: left;
    margin: 4px 0 0 24px;
    padding: 0 10px;
}

.right-btn {
    float: right;
    position: relative;
    margin: 0 4px;
}

.left-btn {
    float: left;
    position: relative;
    margin: 0 0 0 34px;
}

.show-input:disabled {
    background: #ffffff;
}

.span-success {
    background: #1e7e34;
}

.span-faild {
    background: #dc3545;
}

.span-checking {
    background: #c69500;
}

.ul-div-style {
    display: flex;
    margin: 10px;
    padding: 0;
}

.ul-div-style li {
    list-style: none;
    float: left;
}

.thread-ul-head li {
    margin: 0 0 0 10px;
}

.ul-div-style-one li {
    list-style: none;
    float: left;
}

.bottom-border-solid{
    border-bottom: 1px solid rgba(0, 113, 241, 1);
}

.xs-font-size {
    font-size: 12px;
}

.main-bg-color {
    background: rgba(0, 113, 241, 1);
}

.main-select-style {
    padding: 0 4px 0 4px;
}

.main-input-text-style {
    border:none;outline:medium;
}

.main-border-color {
    border: 1px solid rgba(0, 113, 241, 1);
    border-radius: 6px;
}

.main-font-color {
    color: rgba(0, 113, 241, 1);
}

/*body end*/

/*底部导航栏*/
#legal-footer {
    text-align: center;
    margin: 0 auto;
}

#legal-footer div {
    color: rgba(0, 0, 0, .5);
    padding: 5px 10px 15px;
    text-align: center;
    margin: 0 auto;
}

#deploy-main-view {
    height: auto;
    min-height: 200px;
    background: #fff;
}

/*底部导航栏 end*/

/*函数样式*/
.InputMouseEnterEvent {
    -webkit-box-shadow: 0 0 5px rgba(0, 113, 241, 1);
    font-size: 18px;
}

.openCheckBox {
    background: rgba(0, 113, 241, 1);
}

.closeCheckBox {
    background: #ffffff;
}